.menu {
    text-align: left;
    padding: 10px;
    min-width: 25%;
    border-radius: 10px;
    background: linear-gradient(to bottom, #999 0%, #666 64%, #333 100%);
    border: 2px solid #ccc;
    font-family: "Minitel";
    color: #eee;
    text-shadow: 1px 1px 1px #111;
    letter-spacing: -4px;
    margin: 3px 5px 3px 0;
    position: relative;
  }

.menuOption {
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}

.subMenuOption {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: -3px;
  padding-left: 11px;
  position: relative;
}


.subMenuOption span {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
}

.subMenuOption:not(.dimItem):hover {
  cursor: pointer;
}

.menuOption:not(.dimItem):hover::before,
.subMenuOption:not(.dimItem):hover::before {
  position: absolute;
  left: -8px;
  top: -4px;
  content: '👉';
  text-shadow: 1px 1px 1px #222;
}

.usingItem {
  color: yellow;
}

.disableOption {
  color: white;
  opacity: 0.6;
  pointer-events: none;
}

.usingItem::before {
  position: absolute;
  left: -8px;
  top: -4px;
  content: '👉';
  text-shadow: 1px 1px 1px #222;
}


.backToMain {
  font-size: 14px;
  padding-left: 11px;
  cursor: pointer;
  position: absolute;
  bottom: 110px;
}

.backToMain:hover::after {
  position: absolute;
  left: 65px;
  top: -4px;
  content: '👈';
  text-shadow: 1px 1px 1px #222;
}

.metaInfo {
  font-size: 16px;
  position: absolute;
  bottom: 4px;
  padding-left: 10px;
}

.metaInfo p:last-child {
  font-size: 12px;
}

.dimItem {
  opacity: 0.6;
}